@import "../../global.scss";


.portfolio {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  
  .port-area{
    justify-content: center;
    position: relative;
    z-index: 2;
    height: 100%;
    width: 2%;
    .port{
      color:black;
      color: white;
      font-size: 8vh;
      margin-top: 0;
      
    }
  }
  
  .arrow {
    height: 8vh;
    position: absolute;
    cursor: pointer;
    @include mobile{
      margin:-8%;
    }


    &.left {
      left: 3%;
      transform: rotateY(180deg);
    }

    &.right {
      right: 3%;
    }
  }

  .slider {
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    
    

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      

      .item {
        width: 180vh;
        height: 90%;
        background-color: #2ac6ff;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
          flex-direction: column;
          align-items: center;
          height: 100%;

        }
       

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          margin-left: 10%;
          // background-color:white;
          justify-content: center;
          
          .leftContainer {
            width: 90%;
            height: 88%;
            
            display: flex;
            flex-direction: column;
            color:white;
            // justify-content: space-between;
            
            
            h2 {
              font-size: 6vh;
              text-decoration: underline;
              @include mobile{
                margin-top: 10%;
                font-size: 4vh;
              
              }
             
            }
            p {
              margin: 10%;
              font-size: 3vh;
              text-indent: 50px;
              line-height: 120%;
              @include mobile{
                font-size: 2.9vh;
              }
            }
            a{
              font-size: 3vh;
              text-decoration: none;
              color:inherit;
              
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          @include mobile{
            display: none;
          }

          img {
            width: 80vh;
            transform: rotate(-10deg);
            @include mobile{
              height: 0;
              width: auto;
            }
          }
        }
      }
    }
  }
}
